.filters-container {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
}

.filter {
    margin-right: 16px;
    padding: 8px 12px;
    background-color: white;
    border: 1px solid #78849E66;
    border-radius: 20px;
    font: #78849E66;
    font-size: 12px;
    font-weight: lighter;
    cursor: pointer;
    transition: opacity 0.5 ease;
}

.filter:hover {
    opacity: 0.7;
}

.filter-active{
    margin-right: 16px;
    padding: 8px 12px;
    background-color: #00BAFF;
    border: 1px solid #78849E66;
    border-radius: 20px;
    font: #012433;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.reset-logo {
    height: 24px;
    width: 24px;
    transition: opacity 0.5 ease;
}

.reset-logo:hover {
    opacity: 0.7;   
}
  