.movieItem td {
	border-bottom: 1px solid #9AAEBB;
	text-align: left;
	color: #536B7A;
	font-size: 16px;
	padding: 11.5px 0;
}

.movieItem td:nth-child(1) {
	width: 9%;
	text-align: center;
}

.movieItem td:nth-child(2) {
	width: 45%;
}

.movieItem td:nth-child(3) {
	width: 16%;
}

.movieItem td:nth-child(4) {
	width: 20%;
}

.movieItem td:nth-child(5) {
	width: 10%;
}