.moviesList {
	height: 55vh;
}

.moviesList thead th {
	border-bottom: 1px solid #0B749B;
	padding: 4px 0;
	text-align: left;
	color: #0B749B;
	font-size: 10px;
	font-weight: bold;
}

.moviesList tbody {
	overflow: auto;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 60px;
}


.moviesList thead th:nth-child(1) {
	width: 9%;
	text-align: center;
}

.moviesList thead th:nth-child(2) {
	width: 47%;
}

.moviesList thead th:nth-child(3) {
	width: 16%;
}

.moviesList thead th:nth-child(4) {
	width: 20%;
}

.moviesList thead th:nth-child(5) {
	width: 10%;
}