.movies-list {
  overflow: auto;
  height: 80vh;
}

.movies-list thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #0B749B;
    padding: 4px 0;
    text-align: left;
    color: #0B749B;
    font-size: 10px;
    font-weight: bold;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


.movies-list thead th:nth-child(1) {
  width: 9%;
  text-align: center;
}

.movies-list thead th:nth-child(2) {
  width: 45%;
}

.movies-list thead th:nth-child(3) {
  width: 16%;
}

.movies-list thead th:nth-child(4) {
  width: 22%;
}

.movies-list thead th:nth-child(5) {
  width: 10%;
}