td {
	border-bottom: 1px solid #9AAEBB;
	text-align: left;
	color: #536B7A;
	font-size: 16px;
	height: 48px;
	padding: 0;
}

td:nth-child(1) {
	width: 9%;
	text-align: center;
}

td:nth-child(2) {
	width: 45%;
}

td:nth-child(3) {
	width: 16%;
}

td:nth-child(4) {
	width: 22%;
}

td:nth-child(5) {
	width: 8%;
}