.popupBackdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	z-index: 999;
	pointer-events: all;
}

.popupOverlay {
	position: fixed;
	top: 65px;
	bottom: 65px;
	width: 55%;
	min-width: 500px;
	margin: 0 6%;
	background-color: white;
	box-shadow: 0px 20px 40px #01243366;
	display: flex;
	z-index: 1000;
	overflow-y: auto;
}

.popupContent {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: white;
	padding: 30px 60px;
	border-radius: 8px;
	position: relative;
}

.popupContent label {
	color: #78849EB9;
	font-size: 14px;
	margin-bottom: 6px;
}

.popupHeader {
	display: flex;
	justify-content: space-between;
	margin: 0px;
}

.popupHeader h2 {
	color: #164E78;
	font-size: 32px;
	font-weight: 300;
	margin: 0;
}

.closeLogo {
	position: absolute;
	top: 32px;
	right: 32px;
	width: 24px;
	height: 24px;
	cursor: pointer;
	transition: filter 0.3 ease-out;
}

.closeLogo:hover {
	filter: brightness(50%);
}

.closeText {
	position: absolute;
	margin: 0;
	font-size: 10px;
	color: #718FA2;
	letter-spacing: 0.64px;
	top: 57px;
	right: 28px;
	transition: transform 0.3s ease-out, color 0.3s ease-out;
}

.closeLogo:hover +.closeText {
	color: #012433;
	transform: translate(-36px, -21px);
}

.lineLogo {
	width: 52px;
	height: 0px;
	border: 1px solid #21B3CF;
	margin: 20px 0;
}

.popupDetail {
	color: #78849E;
	font-size: 16px;
	font-weight: 500;
	margin: 0 0 20px 0;
}

.popupCast {
	display: flex;
}

.popupCast div {
	margin-right: 50px;
}

.popupCast p {
	color: #00BAFF;
}

.popupActors {
	display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}